<div class="modal">
  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Insurance Preauthorization</h1>
    <button class="button button-clear button-positive" ng-click="insurancePreauthorizationRequestModal.hide()">Cancel</button>
  </ion-header-bar>
  <!-- Modal content area -->
  <ion-content>
    <form>
      <div class="list">
        <div class="item item-divider">
          Insurance Preauthorization
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Doctor">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Date">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Patient #">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Computer #">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Case type">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Patient Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Patient D O B">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insured's Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insured's D O B">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Relationship">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Since (Date)">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Injured / ill since">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Employer">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Address">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Supervisor">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="City">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="State">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Zip">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Note">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insurance Company">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insurance Company Phone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Address">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insured's ID">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="City">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="State">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Zip">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Group #">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Contact">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Title">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Claim #">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Notes">
        </label>
        <div class="item item-divider">
          Pre-Authorization Request
        </div>      
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Initial Care
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Update Care
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Primary Insurance
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Workers Compensation Insurance
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Diagnosis">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Treatment Requested">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Treatment start date">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Treatment end date">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Treatment particulars; (Number and frequency of visits, etc.)">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Additional Requirements (Traction, Ultrasound, Physiotherapy, Exercise, Diet, etc.)">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Comments and Notes">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Doctor's Signature">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Address and Contact details">
        </label>
      </div>
    </form>
  </ion-content>
</div>