<div class="modal">
  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Insurance Preauthorization</h1>
    <button class="button button-clear button-positive" ng-click="closeNewCompanyModal()">Cancel</button>
  </ion-header-bar>
  <!-- Modal content area -->
  <ion-content>
    <form>
      <div class="list">
        <div class="item item-divider">
          Insurance Verification Information
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Doctor">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="C A Initials">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Verifiend on">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Patient #">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Computer #">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Case type">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Patient Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Patient D O B">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insured's Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insured's D O B">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Relationship">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Since (Date)">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Injured / ill since">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Employer">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Address">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Supervisor">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="City">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="State">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Zip">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Note">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insurance Company">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insurance Company Phone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Address">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Insured's ID">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="City">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="State">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Group #">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Contact">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Title">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Claim #">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Notes">
        </label>
        <div class="item item-divider">
        </div>      
        <label class="item item-input">
          <input type="text" placeholder="Primary or Secondary Insurance">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Diagnosis">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Treatment Prescribed">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Policy effective from">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Deductible amount per year">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Deductible met">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Max payment for initial visit">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Max payment covered per visit">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Max ceiling for X-ray and other diagnostics">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Max number of visits covered per year">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Items expressly not covered">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Items requiring specific tests and confirmation">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Other notes and comments">
        </label>

      </div>
    </form>
  </ion-content>
</div>