<div class="modal">
  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Patient Registration</h1>
    <button class="button button-clear button-positive" ng-click="patientRegistrationModal.hide()">Cancel</button>
  </ion-header-bar>
  <!-- Modal content area -->
  <ion-content>
    <form>
      <div class="list">
		<button type="submit" class="button button-block button-positive" >Register</button>
		<div class="item item-divider">
			About You
		</div>		
		<label class="item item-input">
		    <span class="input-label">Date</span>
			<input type="datetime-local" placeholder="Date">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Name">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Street">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="City">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="State">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Zip">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="SS #">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Driver's License #">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="D O B">
		</label>
		<label class="item item-input">
			<input type="number" placeholder="Age">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Sex">
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">
			  Single
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">
			  Married
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">
			  Divorced
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">
			  Separated
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">
			  Widow
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-input">
			<input type="tel" placeholder="Home Phone">
		</label>
		<label class="item item-input">
			<input type="tel" placeholder="Mobile">
		</label>

		<label class="item item-input">
			<input type="tel" placeholder="Work Phone">
		</label>

		<label class="item item-input">
			<input type="text" placeholder="Employer">
		</label>


		<label class="item item-input">
			<input type="text" placeholder="Occupation">
		</label>

		<label class="item item-input">
			<input type="text" placeholder="Emp Address">
		</label>

		<label class="item item-input">
			<input type="text" placeholder="Emp City">
		</label>

		<label class="item item-input">
			<input type="text" placeholder="Emp State">
		</label>

		<label class="item item-input">
			<input type="text" placeholder="Emp Zip">
		</label>

		<div class="item item-divider">
			Spouse
		</div>	
		<label class="item item-input">
			<input type="text" placeholder="Name">
		</label>

		<label class="item item-input">
			<input type="text" placeholder="D O B">
		</label>

		<label class="item item-input">
			<input type="text" placeholder="SS #">
		</label>

		<label class="item item-input">
			<input type="text" placeholder="Employer">
		</label>

		<label class="item item-input">
			<input type="tel" placeholder="Phone">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Occupation">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Insurance">
		</label>
		<label class="item item-input">
			<input type="tel" placeholder="Insurance Phone">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Insurance Policy #">
		</label>
		<div class="item item-divider">
			Insurance Details
		</div>	
		<label class="item item-input">
			<input type="text" placeholder="Insured's name">
		</label>
		<label class="item item-input">
			<input type="datetime-local" placeholder="D O B">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Relationship">
		</label>

		<label class="item item-input">
			<input type="datetime-local" placeholder="Since (Date)">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Employer">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Employer Phone">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Address">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Supervisor">
		</label>

		<label class="item item-input">
			<input type="text" placeholder="City">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="State">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Zip">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Note">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Insurance Company">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Phone">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Address">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Insured's ID">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="City">
		</label>


		<label class="item item-input">
			<input type="text" placeholder="State">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Zip">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Group #">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Contact">
		</label>


		<label class="item item-input">
			<input type="text" placeholder="Title">
		</label>
		<label class="item item-input">
			<input type="tel" placeholder="Phone">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Claim #">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Notes">
		</label>
		<div class="item item-divider">
			Details of illness or injury
		</div>
		<label class="item item-input">
			<input type="text" placeholder="Details of illness or injury (Include Date)">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Progression of your current condition since it started">
		</label>
		<label class="item item-radio">
			<input type="radio" name="progression">
			<div class="item-content">
			  Same
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="progression">
			<div class="item-content">
			  Improved
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="progression">
			<div class="item-content">
			  Worse
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="progression">
			<div class="item-content">
			  Other
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Does your present condition affect your daily activities at home or in the office? Describe">
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Sharp
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Tingling
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Throbbing
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Numbness
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Aching
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Shooting
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Dull
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Burning
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Cramping
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Stiffness
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Swelling
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="pain">
			<div class="item-content">
			  Other
			</div>
			<i class="radio-icon ion-checkmark"></i>
		</label>
		<label class="item item-input">
			<input type="text" placeholder="Other Details">
		</label>
		<div class="item item-divider">
			Comments and Notes
		</div>	
		<label class="item item-input">
			<input type="text" placeholder="Comments and Notes">
		</label>      
      </div>
    </form>
  </ion-content>
</div>